* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f8d629;
  width: 1000px;
  margin: 49px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

#logo {
  cursor: pointer;
}

ul {
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 400;
}

ul li a:hover {
  color: rgb(99, 97, 97);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 400px;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 50px;
}

p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

button {
  border: none;
  background: #000;
  color: #fff;
  padding: 32px 35px;
  border-radius: 30px;
  margin-top: 50px;
  cursor: pointer;
}

button:hover {
  font-size: 20px;
  color: #f8d629;
}

#main-pic {
  width: 600px;
}
